*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}
:root{
  --ff-primary: 'Roboto Slab';
  --ff-secondary: 'Montserrat';

  --fw-reg:  300;
  --fx-bold: 900;

  --clr--background: #ffffff;
  --clr--txt:    #222222;
  --clr--c2a:    #ea5a4a;
  --clr--footer: #f4ece1; 
  --clr--logo:   #008489;
  --clr--btn:    #1e4041; 
  --clr--menu:  #f0ecec;

  --fs-h1:      34px;
  --fs-h2:      20px;
  --fs-nav:     16px;
  --fs-footer:  10px;
}


/* START - LOGIND FUNKTION GRID*/

/*Mobil grid*/
.signup_container {
      
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . opretprofil ."
    ". . google ."
    ". . facebook ."
    ". person-oplysninger . ."
    ". . fornavn ."
    ". . efternavn ."
    ". . etage ."
    ". . adresse ."
    ". . postnummer ."
    ". . by ."
    ". . kon ."
    ". . fodselsdag ."
    ". . mobilnummer ."
    ". logind-oplysninger . ."
    ". . form-group ."
    ". . email ."
    ". . kodeord ."
    ". . gentagkode ."
    ". . vilkar ."
    ". . nyhedsbrev ."
    ". . opret ."
    ". . . ."
    ". .  har-profil ."
    ". . . .";
}

.opretprofil { grid-area: opretprofil; }

.google { grid-area: google; }

.facebook { grid-area: facebook; }

.person-oplysninger { grid-area: person-oplysninger; }

.fornavn { grid-area: fornavn; }

.efternavn { grid-area: efternavn; }

.etage { grid-area: etage; }

.adresse  { grid-area: adresse;  }

.postnummer { grid-area: postnummer; }

.by { grid-area: by; }

.kon { grid-area: kon; }

.fodselsdag { grid-area: fodselsdag; }

.mobilnummer { grid-area: mobilnummer; }

.logind-oplysninger { grid-area: logind-oplysninger; }

.form-group { grid-area: form-group; }


.email { grid-area: email; }

.kodeord { grid-area: kodeord; }

.gentagkode { grid-area: gentagkode; }

.vilkar { grid-area: vilkar; }

.nyhedsbrev { grid-area: nyhedsbrev; }

.opret { grid-area: opret;  }

.har-profil { grid-area: har-profil; }

.signup_container{
  margin: 2% auto;
  max-width: 90%;
  max-height: 200%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

/* Mobil grid slut*/

@media screen and (min-width: 600px){
.signup_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil"
    ". google google . . . . . ."
    ". facebook facebook . . . . . ."
    "person-oplysninger person-oplysninger person-oplysninger . . logind-oplysninger logind-oplysninger logind-oplysninger ."
    "fornavn fornavn efternavn efternavn . form-group form-group email email"
    "adresse adresse adresse adresse . kodeord kodeord gentagkode gentagkode"
    "etage postnummer by by . . nyhedsbrev nyhedsbrev ."
    "kon kon fodselsdag fodselsdag . . vilkar vilkar ."
    "mobilnummer mobilnummer mobilnummer mobilnummer . . opret opret .";
}

.google { grid-area: google; }

.facebook { grid-area: facebook; }

.fornavn { grid-area: fornavn; }

.efternavn { grid-area: efternavn; }

.adresse { grid-area: adresse; }

.etage { grid-area: etage; }

.postnummer { grid-area: postnummer; }

.by { grid-area: by; }

.mobilnummer { grid-area: mobilnummer; }

.logind-oplysninger { grid-area: logind-oplysninger; }

.kodeord { grid-area: kodeord; }

.gentagkode { grid-area: gentagkode; }

.nyhedsbrev { grid-area: nyhedsbrev; }

.opret { grid-area: opret; }

.opretprofil { grid-area: opretprofil; }

.email { grid-area: email; }

.kon { grid-area: kon; }

.person-oplysninger { grid-area: person-oplysninger; }

.form-group { grid-area: form-group; }

.vilkar { grid-area: vilkar; }

.fodselsdag { grid-area: fodselsdag; }

/* SLUT - LOGIND FUNKTION GRID*/


/* START - STYLING AF OPRET PROFIL */
.signup_container{
    margin-top: 2% auto;
    max-width: 90%;
    max-height: 80%;
    
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}




.opretprofil{
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
}

.opret {
  background-color: var(--clr--c2a);
  width: 100%;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  border-style: none;
  color: var(--clr--background);
}

.input{
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;

}

.input_efternavn input{
  width: 400px;
  margin-left: -200px;
}

.input_fornavn input{
  width: 198px;
  justify-content: flex-end;
}

.input_adresse input{
  width: 610px;
}

.input_mobilnummer input{
  width: 300px;
}

.input_brugernavn input{
  height: 30px;
  border: #222 solid 1px;
} 

.input_kode input{
  width: 192px;
}

.input_gentagkode input{
  width: 200px;
}

.har-profil{
  text-align: center;
}

.kon{
  width: 50%;
  height: 50%;
}

.etage{
  width: 50%;
  height: 50%;
}
/* SLUT - STYLING AF OPRET PROFIL */
}

/* START - STYLING AF FORSIDE */
ul{
    list-style-type: none;
    display: block;
}

li{
    list-style-type: none;

}
a{
    text-decoration: none;
}


/* START MENU */
nav{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
}

label.logo img{
  line-height: 80px;
  padding: 0 100px;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}
nav ul li a{
  color: white;
  font-size: 18px; 
}
.login-menu a{
  padding-left:200px
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor:pointer;
  display: none;
}
.checkbtn2{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor:pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width:960px){
  nav ul li a{
      font-size: 16px;
  }

}
@media (max-width:900px){
  .checkbtn{
     display: block;
     z-index: 999;
  }
  .checkbtn2{
    display: block;
    z-index: 999;
 }
  .login-menu a{
    padding: 0;
  }
  nav{
    display: flex;
    flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  }
ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: var(--clr--menu);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
 nav ul li a{
      font-size: 20px;
      color: black;
  }
  .login_icon img{
    background-color:  black;
  }
  #check:checked ~ ul {
      left: 0;

  }
  #burger_menu{
    z-index: 500 !important;
    position: relative;
  }


}
/*SLUT MENU*/

/* 
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    color: var(--clr--background);
} */

.logo{
    margin-top: 1%;
    width: 35%;
}

.login_icon{
    width: 30px;
    color: black;
}

.login_txt-icon{
  display: flex;
  justify-content: flex-end;
}

.login_p{
    margin-left: 50px;
}

.header_index{
    background-image: url(assets/bg_img.jpg);
    height: 500px;
}
.header_index2{
  background-color: var(--clr--menu);
  height: 80px;
}

.hero_caption, .hero_caption-2 {
    text-align: center;
    color: var(--clr--background);
}

.hero_caption-2 {
  font-weight: 300;
  font-size: 20px;
}
@media (max-width:500px){
  .hero_caption-2 {
    font-weight: 300;
    font-size: 20px;
    padding-top:40px;
  }
}

.buttonlogin{
  font: var(--ff-primary);
  font-weight: var(--fs-nav);
  text-decoration: none;
  text-align: center;
  color: var(--clr--background);
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 3px;
  height: 13px;
  margin-right: 30px;
  margin-top: 30px;
  border-style: none;
}


#facebook {
  background-color: #3B5998;
  color: white;
  border-radius: 50px;
  width: 180px;
  height: 33px;
  font-size: 11px;
  align-content: center;
}
#google{
  background-color: white;
  color: #222222;
  border: solid 1px rgb(97, 96, 96);
  border-radius: 50px;
  width: 180px;
  height: 33px;
  font-size: 11px;
  align-content: center;
}

input{
width: 200px;
}

.hero_caption{
margin-top: 5%;
}
.hero_caption-2 a{
  text-align: center;
  color: #222;
  text-decoration: none;
  border: solid 0.5px var(--clr--background);
  border-radius: 5px;
  padding: 5px;
  background-color:var(--clr--background);
}



.nyhedsbrev_index-btn input{
color: var(--clr--background);
background-color: var(--clr--logo);
border-radius: 8px;
border: none;
text-decoration: none;
display: inline-block;
text-align: center;
font-weight: var(--fw-reg);
font-size: var(--fs-h2);
width: 170px;
height: 30px;
}

.nyhedsbrev_afmeld{
  text-align: center;
  text-decoration: none;
  margin-top: 1%;
}


.nyhedsbrev_afmeld a{
  color: var(--clr--c2a);
  text-decoration: none;
  border: solid 0.5px aliceblue;
  border-radius: 5px;
  padding: 5px;
  background-color:var(--clr--btn);
  border-style: none;
  
}

.nyhedsbrev_afmeld-out{
  display: block;
  background-color: var(--clr--background);
  margin-left: 25%;
  margin-top: 5%;
  padding: 5%;
  width: 50%;
  height: 300%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

.out_body{
  background-color: var(--clr--btn);

}

.nyhedsbrev_btn-afmeld{
  background-color: var(--clr--c2a);
  color: var(--clr--background);
  border-radius: 8px;
  padding: 1px;
  width: 30%;
  height: 20%;
  font-weight: var(--fw-reg);
  font-size: 14px;
  border: none;
}


.newsletter__title{
  color: var(--clr--btn);
  font-size: 28px;

}
@media (max-width:612px){
  input{
    width:120px;
  }
  .newsletter__title{
    font-size: 20px;
    padding-bottom: 18px;
  }
}


.nyhedsbrev_btn{
  cursor: pointer;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 30px;
  background-color: var(--clr--logo);
  color: var(--clr--background);
  font-size: var(--fw-reg);
  font-weight: 300;
  text-align: center;
  border-radius: 8px;
  border-style: none;


}

@media (max-width:600px){
  .hero_caption{
    margin-top: 5%;
    font-size: 25px;
    padding-top: 30px;
    }
}

/*START - TRUSTPILOT*/

.trustpilot_txt{
  margin-bottom: 2%;
}

.trustpilot_stjerner {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.kontakt-call-to-action-2{
  display: flex;
  justify-content: center;
}

.one p{
  font-size: 25px;
  text-align: center;
}

@media (max-width:400px){
  .trustpilot_stjerner {
    display: flex;
    justify-content: center;
    margin-top: 45%;
  }
}

/* SLUT - STYLING AF FORSIDE */

/* START - NYHEDSBREV STYLE */
.nyhedsbrev_container{
  background-color:var(--clr--background);
  color: var(--clr--txt);
  text-align: center;
  height: 50%;
  width: 50%;
  margin-top: 5%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 2%;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.nyhedsbrev_body{
  background-color: var(--clr--btn);
}
/* SLUT - NYHEDSBREV STYLE */



/* START - HEADER SIGNUP */
.nav_bar-box{
  background-color: var(--clr--menu);
  font-size: var(--fs-nav);
}

.nav_bar-box a {
  color:var(--clr--txt);
}


.profil-icon{
width: 80%;
margin-top: 30%;
}
/* SLUT - HEADER SIGNUP */


/* START - LOGIND FUNKTIONE */
.register{
  display: block;
}
/* SLUT - LOGING FUNKTION


/* START - LOGIND */
.form_container #login_form .error-msg{
    margin:10px 0;
    display: block;
    background: var(--clr--logo);
    color: var(--clr--background);
    border-radius: 5px;
    font-size: 20px;
}

.container{
  width: 45%;
  height: 100%;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}


#form-login{
  height: 500px;
  width: 100%;
}

@media (max-width:800px){
  .container{
    width: 290px;
  }

}

/* SLUT - LOGIND */

/* START - USER PROFIL*/
.profil_container {  display: grid;
  grid-template-columns: 1.1fr 0.5fr 0.5fr 1.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "profil_menu profil_menu profil_menu profil_menu"
    "profil_sidebar profil_titel profil_titel ."
    "profil_sidebar profil_billede profil_billede ."
    "profil_sidebar profil_navn profil_efternavn ."
    "profil_sidebar profil_adresse profil_postnummer ."
    "profil_sidebar profil_tlfnr profil_email ."
    "profil_sidebar opdater opdater ."
    "profil_sidebar . . ."
    "profil_footer profil_footer profil_footer profil_footer";
}

.profil_sidebar { grid-area: profil_sidebar; }

.profil_menu { grid-area: profil_menu; }

.profil_navn { grid-area: profil_navn; }

.profil_tlfnr { grid-area: profil_tlfnr; }

.profil_footer { grid-area: profil_footer; }

.profil_titel { grid-area: profil_titel; }

.profil_billede { grid-area: profil_billede; }

.profil_efternavn { grid-area: profil_efternavn; }

.profil_email { grid-area: profil_email; }

.opdater { grid-area: opdater; }

.profil_postnummer { grid-area: profil_postnummer; }

.profil_adresse { grid-area: profil_adresse; }


.profil_container{
  text-align: center;
  height: 650px;
  margin-top: 0px;
}


.button_opdater{
   display: flex;
  justify-content: center; 
  display: block;
  height: 30%;
  width: 30%;
  font-size: var(--fs-nav);
  font-weight: var(--ff-primary);
  border-radius: 8px;
  border-style: none;
  background-color:var(--clr--btn);
  color: var(--clr--background);
  margin-top: 25%;
  margin-left: 33%;
}

.profil_billede img{
 width: 40%;
 height: 40%;
  margin-bottom: 10%;
  margin-top: 10%;
}
/* SLUT - BRUGERPROFIL */

/* START - BOOKINGS */
.bookings_container{
  display: flex;
  justify-content: center;
  margin-top: 10%;

  
}

.kommende_container{
    margin-right: 10%;
    margin-left: 15%; 
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

.tidligere_container{
  margin-right: 15%;
  margin-right: 10%; 
  padding-left: 10%;
  padding-right: 10%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);

}
/* SLUT - BOOKINGS */

/* START style PHP menu bar*/
/* #dmenu{
  display: flex;
  width: 100%;
  background-color: black;

  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  margin-bottom: 1rem;
  top: 0;
  }

  #dmenu a{
  box-sizing: border-box;
  width:100%;
  padding: 10px;
  color: white !important;
  text-align: center;
  } */
  /* SLUT PHP menubar*/


  /*  START - PROFIL */
  .profil_navn{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: var(--clr--logo);
    padding: 3px;
    color: var(--clr--txt);
  }

  .profil_efternavn{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: var(--clr--logo);
    padding: 3px;
    margin-left: 10px;
    color: var(--clr--txt);
  }
  .profil_adresse{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: var(--clr--logo);
    padding: 3px;
    color: var(--clr--txt);
  }
  .profil_postnummer{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: var(--clr--logo);
    padding: 3px;
    margin-left: 10px;
    color: var(--clr--txt);
  }

  .profil_email{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: var(--clr--logo);
    padding: 3px;
    margin-left: 10px;
    color: var(--clr--txt);
  }
  .profil_tlfnr{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: var(--clr--logo);
    padding: 3px;
    color: var(--clr--txt);
  }
  /* SLUT profil*/


  /* START - SIDEBAR */ 
 
  .title-h1{
    font-size: 3rem;
    padding: 2rem;
  }

  .sidebar{grid-area: a;}
  .home-section-farver{grid-area: b;}

  .sg{
  display: grid;
  grid-template-areas:
  'a b';
  grid-template-columns: 1fr 8fr;
  }

  .sidebar{
  position: relative;
  height: 255%;
  width: 78px;
  background: var(--clr--background) rgb(11, 44, 50);
  background: linear-gradient(0deg, rgba(107,146,153,0) 0%, rgb(174 184 181) 100%);
  padding: 6px 14px;
  z-index: 2;
  margin-top: 0%;
  transition: all 0.5s ease;
  }

  .sidebar.open{
  width: 250px;
  }

  .sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  }

  .sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
  }

  .sidebar .logo-details .logo_name{
  color: var(--clr--background);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  }

  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
  opacity: 1;
  }

  .sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  }

  .sidebar.open .logo-details #btn{
  text-align: right;
  }

  .sidebar i{
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  }

  .sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  }

  .sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
  }

  .sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--clr--background);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  }

  .sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
  }

  .sidebar.open li .tooltip{
  display: none;
  }

  .sidebar input{
  font-size: 15px;
  color: var(--clr--background);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--clr--txt);
  }

  .sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
  }

  .sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: var(--clr--background);
  }

  .sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: var(--clr--background);
  }
  .sidebar .bx-search:hover{
  background: var(--clr--background);
  color: var(--clr--txt); 
  }
  .sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--clr--logo); 
  }
  .sidebar li a:hover{
  background: var(--clr--background);
  }
  .sidebar li a .links_name{
  color: var(--clr--background);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  }
  .sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
  transition: all 0.5s ease;
  color: var(--clr--txt);
  }
  .sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  }

  @media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
    /* SLUT - SIDEBAR */ 


  /* START- PROFILINFO */ 
  #profil_info{
    color: var(--clr--c2a);
    justify-content: center;
  }
   /* SLUT - PROFILINFO */ 

}
/*START ERROR besked*/
 
.alert{
  text-align: center;
}
/*SLUT ERROR besked*/

/* START - FOOTER */
.footer_container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-auto-flow: row;
  grid-template-areas:
    "chefme_adresse chefme_kontakt chefme_some";
}

.chefme_adresse { grid-area: chefme_adresse; }

.chefme_kontakt { grid-area: chefme_kontakt; }

.chefme_some { grid-area: chefme_some; }


#footer{
  background-color: var(--clr--footer);
  margin-bottom: 0%;
  padding: 5%;
  margin-top: 30%;
  text-decoration: none;
}

#footer a{
  text-decoration: none;
  color: var(--clr--txt);

}

@media (max-width:700px){
  #footer{
    margin-top: 35%;
    font-size: var(--fs-footer);
  }
  #footer img{
  max-width: 8%;
  }
}

/* SLUT - FOOTER */

/*START LOGIN*/
.btn-primary{
  background-color: var(--clr--c2a);
  border: none;
}
.btn-primary:hover{
  background-color: var(--clr--c2a);
}

.genvej{
  color: var(--clr--c2a);
}
.form-group input{
  width: 100%;
}
.ingenprofil{
  text-align: center;
}
.text {
  text-align: center;
  padding-bottom: 5px;
}


/*SLUT LOGIN */