/* START - LOGIND FUNKTION GRID*/
.signup_container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil"
    ". google google . . . . . ."
    ". facebook facebook . . . . . ."
    "person-oplysninger person-oplysninger person-oplysninger . . logind-oplysninger logind-oplysninger logind-oplysninger ."
    "fornavn fornavn efternavn efternavn . form-group form-group email email"
    "adresse adresse adresse adresse . kodeord kodeord gentagkode gentagkode"
    "etage postnummer by by . . nyhedsbrev nyhedsbrev ."
    "kon kon fodselsdag fodselsdag . . vilkar vilkar ."
    "mobilnummer mobilnummer mobilnummer mobilnummer . . opret opret .";
}

.google { grid-area: google; }

.facebook { grid-area: facebook; }

.fornavn { grid-area: fornavn; }

.efternavn { grid-area: efternavn; }

.adresse { grid-area: adresse; }

.etage { grid-area: etage; }

.postnummer { grid-area: postnummer; }

.by { grid-area: by; }

.mobilnummer { grid-area: mobilnummer; }

.logind-oplysninger { grid-area: logind-oplysninger; }

.kodeord { grid-area: kodeord; }

.gentagkode { grid-area: gentagkode; }

.nyhedsbrev { grid-area: nyhedsbrev; }

.opret { grid-area: opret; }

.opretprofil { grid-area: opretprofil; }

.email { grid-area: email; }

.kon { grid-area: kon; }

.person-oplysninger { grid-area: person-oplysninger; }

.form-group { grid-area: form-group; }

.vilkar { grid-area: vilkar; }

.fodselsdag { grid-area: fodselsdag; }

/* SLUT - LOGIND FUNKTION GRID*/


/* START - STYLING AF OPRET PROFIL */
.signup_container{
    height: 500px;
    width: 1150px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

.opretprofil{
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
}

.opret {
  background-color: #ea5a4a;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  border-style: none;
  color: white;
}

.input{
  border-radius: 4px;
  border: 1px solid lightgrey;
  
}

.input_efternavn input{
  width: 400px;
  margin-left: -200px;
}

.input_fornavn input{
  width: 198px;
  justify-content: flex-end;
}

.input_adresse input{
  width: 610px;
}

.input_mobilnummer input{
  width: 300px;
}

.input_brugernavn input{
  height: 30px;
}

.input_kode input{
  width: 192px;
}

.input_gentagkode input{
  width: 200px;
}

.har-profil{
  text-align: center;
}

.kon{
  width: 50%;
  height: 50%;
}

.etage{
  width: 50%;
  height: 50%;
}
/* SLUT - STYLING AF OPRET PROFIL */


/* START - STYLING AF FORSIDE */
ul{
    list-style-type: none;
    display: block;
}

li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 32px;
}

nav ul li a{
    display: block;
    color:aliceblue;
}

.logo{
    width: 80px;
}

.login_icon{
    padding-top: 25px;
    margin-right:50px;
    height: 30px;
}

.login_p{
    margin-left: 50px;
}

.header_index{
    background-image: url(assets/bg_img.jpg);
    height: 500px;
}

.hero_caption, .hero_caption-2 {
    text-align: center;
    color:aliceblue;
} 

.buttonlogin{
  font: bold 11px Arial;
  text-decoration: none;
  text-align: center;
  background-color: #ccc;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 3px;
  height: 13px;
  margin-right: 30px;
  margin-top: 30px;   
}


#facebook {
  background-color: #3B5998;
  color: white;
  border-radius: 50px;
  width: 180px;
  height: 33px;
  font-size: 11px;
  align-content: center;
}
#google{
  background-color: white;
  color: #222222;
  border: solid 1px rgb(97, 96, 96);
  border-radius: 50px;
  width: 180px;
  height: 33px;
  font-size: 11px;
  align-content: center;
}

input{
width: 200px;
}

.hero_caption-2 a{
  text-align: center;
  color: #222;
  text-decoration: none;
  border: solid 0.5px aliceblue;
  border-radius: 5px;
  padding: 5px;
  background-color:aliceblue
}

.nyhedsbrev_afmeld a{
  text-align: center;
  color: #222;
  text-decoration: none;
  border: solid 0.5px aliceblue;
  border-radius: 5px;
  padding: 5px;
  background-color:aliceblue;
  float: right;
}

.newsletter__title{
  color:aliceblue;

}

.nyhedsbrev_input input{
  height: 20px;
  width: 100px;
}

.nyhedsbrev_btn{
  cursor: pointer;
  right: 20px;
  top: 20px;
  width:100px;
  height: 30px;
  background: aliceblue;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  

}


.test {
  display: block;
  width: 100%;
  height: 100% !important;
  display: flex;
  align-items: center;
  margin-left: 38%;
  margin-top: -2.6%;
}

.trustpilot{
  width: 50%;
}

.kontakt-call-to-action-2{
  display: flex;
  justify-content: center;
}
/* SLUT - STYLING AF FORSIDE */

/* START - NYHEDSBREV STYLE */

.nyhedsbrev_container{
  color:aliceblue;
  background-color: #13717A;
  text-align: center;
  height: 500px;
    width: 1150px;
    margin-left: 130px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);

}
/* SLUT - NYHEDSBREV STYLE */

/* START - HEADER SIGNUP */
.nav_bar-box{
  background-color: #cacaca;
  font-size: 15px;
}
/* SLUT - HEADER SIGNUP */ 


/* START - LOGIND FUNKTIONE */ 
.register{
  display: block;
}
/* SLUT - LOGING FUNKTION 


/* START - LOGIND */ 
.form_container #login_form .error-msg{
    margin:10px 0;
    display: block;
    background: blue;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
/* SLUT - LOGIND */ 

/* START - USER PROFIL*/

.profil_container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profil_menu profil_menu profil_title profil_title profil_title profil_title profil_title profil_title profil_logud"
    "profil_menu profil_menu . . . profil_title_2 . . ."
    "profil_menu profil_menu . . . profil_billede . . ."
    "profil_menu profil_menu . . . profil_retbillede . . ."
    "profil_menu profil_menu . . profil_oplysninger profil_oplysninger profil_oplysninger . ."
    "profil_menu profil_menu . . profil_navn profil_navn profil_navn . ."
    "profil_menu profil_menu . . profil_adresse profil_adresse profil_adresse . ."
    "profil_menu profil_menu . . profil_telefon profil_telefon profil_telefon . ."
    "profil_menu profil_menu . . profil_mail profil_mail profil_mail . ."
    "profil_menu profil_menu . . . profil_opdater . . .";
}

.profil_menu { grid-area: profil_menu;
  background-color: #ea5a4a;
}

.profil_title { grid-area: profil_title;
  background-color: #ea224a; }

.profil_logud { grid-area: profil_logud; 
  background-color: #893143;
}

.profil_title_2 { grid-area: profil_title_2; }

.profil_billede { grid-area: profil_billede; }

.profil_retbillede { grid-area: profil_retbillede; }

.profil_oplysninger { grid-area: profil_oplysninger; }

.profil_navn { grid-area: profil_navn; }

.profil_adresse { grid-area: profil_adresse; }

.profil_telefon { grid-area: profil_telefon; }

.profil_mail { grid-area: profil_mail; }

.profil_opdater { grid-area: profil_opdater; } 
/* SLUT -  USERPROFIL */ 


/* START - BOOKINGS */ 
.bookings_container{
  margin-top: 7%;
  display: flex;  
}

.kommende_container{
    margin-right: 10%;
    margin-left: 15%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

.tidligere_container{
  margin-right: 15%;
  margin-right: 10%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);

}
/* SLUT - BOOKINGS */ 

/* START style PHP menu bar*/
#dmenu{
  display: flex;
  width: 100%;
  background-color: black;

  justify-content: flex-end;
  position: relative;
  margin-bottom: 1rem;
  top: 0;
  }
  
  #dmenu a{
  box-sizing: border-box;
  width:100%;
  padding: 10px;
  color: white !important;
  text-align: center;
  }

  /* SLUT PHP menubar*/
