
:root{
  --ff-primary: 'Roboto Slab';
  --ff-secondary: 'Montserrat';

  --fw-reg:  300;
  --fx-bold: 900;

  --clr--background: #ffffff;
  --clr--txt:    #222222;
  --clr--c2a:    #ea5a4a;
  --clr--footer: #f4ece1; 
  --clr--logo:   #008489;
  --clr--btn:    #1e4041;  

  --fs-h1:   34px;
  --fs-h2:   20px;
  --fs-nav:  20px;
}


/* START - LOGIND FUNKTION GRID*/

/*Mobil grid*/
.signup_container {
      
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . opretprofil ."
    ". . google ."
    ". . facebook ."
    ". person-oplysninger . ."
    ". . fornavn ."
    ". . efternavn ."
    ". . etage ."
    ". . adresse ."
    ". . postnummer ."
    ". . by ."
    ". . kon ."
    ". . fodselsdag ."
    ". . mobilnummer ."
    ". logind-oplysninger . ."
    ". . form-group ."
    ". . email ."
    ". . kodeord ."
    ". . gentagkode ."
    ". . vilkar ."
    ". . nyhedsbrev ."
    ". . opret ."
    ". . . ."
    ". .  har-profil ."
    ". . . .";
}

.opretprofil { grid-area: opretprofil; }

.google { grid-area: google; }

.facebook { grid-area: facebook; }

.person-oplysninger { grid-area: person-oplysninger; }

.fornavn { grid-area: fornavn; }

.efternavn { grid-area: efternavn; }

.etage { grid-area: etage; }

.adresse  { grid-area: adresse;  }

.postnummer { grid-area: postnummer; }

.by { grid-area: by; }

.kon { grid-area: kon; }

.fodselsdag { grid-area: fodselsdag; }

.mobilnummer { grid-area: mobilnummer; }

.logind-oplysninger { grid-area: logind-oplysninger; }

.form-group { grid-area: form-group; }


.email { grid-area: email; }

.kodeord { grid-area: kodeord; }

.gentagkode { grid-area: gentagkode; }

.vilkar { grid-area: vilkar; }

.nyhedsbrev { grid-area: nyhedsbrev; }

.opret { grid-area: opret;  }

.har-profil { grid-area: har-profil; }

.signup_container{
  max-width: 90%;
  max-height: 200%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

/* Mobil grid slut*/

@media screen and (min-width: 600px){
.signup_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil opretprofil"
    ". google google . . . . . ."
    ". facebook facebook . . . . . ."
    "person-oplysninger person-oplysninger person-oplysninger . . logind-oplysninger logind-oplysninger logind-oplysninger ."
    "fornavn fornavn efternavn efternavn . form-group form-group email email"
    "adresse adresse adresse adresse . kodeord kodeord gentagkode gentagkode"
    "etage postnummer by by . . nyhedsbrev nyhedsbrev ."
    "kon kon fodselsdag fodselsdag . . vilkar vilkar ."
    "mobilnummer mobilnummer mobilnummer mobilnummer . . opret opret .";
}

.google { grid-area: google; }

.facebook { grid-area: facebook; }

.fornavn { grid-area: fornavn; }

.efternavn { grid-area: efternavn; }

.adresse { grid-area: adresse; }

.etage { grid-area: etage; }

.postnummer { grid-area: postnummer; }

.by { grid-area: by; }

.mobilnummer { grid-area: mobilnummer; }

.logind-oplysninger { grid-area: logind-oplysninger; }

.kodeord { grid-area: kodeord; }

.gentagkode { grid-area: gentagkode; }

.nyhedsbrev { grid-area: nyhedsbrev; }

.opret { grid-area: opret; }

.opretprofil { grid-area: opretprofil; }

.email { grid-area: email; }

.kon { grid-area: kon; }

.person-oplysninger { grid-area: person-oplysninger; }

.form-group { grid-area: form-group; }

.vilkar { grid-area: vilkar; }

.fodselsdag { grid-area: fodselsdag; }

/* SLUT - LOGIND FUNKTION GRID*/


/* START - STYLING AF OPRET PROFIL */
.signup_container{
    max-width: 90%;
    max-height: 80%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}




.opretprofil{
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
}

.opret {
  background-color: var(--clr--c2a);
  width: 100%;
  text-align: center;
  border-radius: 50px;
  height: 30px;
  border-style: none;
  color: var(--clr--background);
}

.input{
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;

}

.input_efternavn input{
  width: 400px;
  margin-left: -200px;
}

.input_fornavn input{
  width: 198px;
  justify-content: flex-end;
}

.input_adresse input{
  width: 610px;
}

.input_mobilnummer input{
  width: 300px;
}

.input_brugernavn input{
  height: 30px;
  border: #222 solid 1px;
} 

.input_kode input{
  width: 192px;
}

.input_gentagkode input{
  width: 200px;
}

.har-profil{
  text-align: center;
}

.kon{
  width: 50%;
  height: 50%;
}

.etage{
  width: 50%;
  height: 50%;
}
/* SLUT - STYLING AF OPRET PROFIL */
}

/* START - STYLING AF FORSIDE */
ul{
    list-style-type: none;
    display: block;
}

li{
    list-style-type: none;

}
a{
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 32px;
}

nav ul li a{
    display: block;
    color: var(--clr--background);
}

.logo{
    width: 80px;
}

.login_icon{
    width: 50%;
    margin-top: 2%;
}
.login_txt-icon{
  display: flex;
  justify-content: flex-end;
}

.login_p{
    margin-left: 50px;
}

.header_index{
    background-image: url(assets/bg_img.jpg);
    height: 500px;
}

.hero_caption, .hero_caption-2 {
    text-align: center;
    color: var(--clr--background);
}

.buttonlogin{
  font: var(--ff-primary);
  font-weight: var(--fs-nav);
  text-decoration: none;
  text-align: center;
  background-color: #ccc;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 3px;
  height: 13px;
  margin-right: 30px;
  margin-top: 30px;
}


#facebook {
  background-color: #3B5998;
  color: white;
  border-radius: 50px;
  width: 180px;
  height: 33px;
  font-size: 11px;
  align-content: center;
}
#google{
  background-color: white;
  color: #222222;
  border: solid 1px rgb(97, 96, 96);
  border-radius: 50px;
  width: 180px;
  height: 33px;
  font-size: 11px;
  align-content: center;
}

input{
width: 200px;
}

.hero_caption-2 a{
  text-align: center;
  color: #222;
  text-decoration: none;
  border: solid 0.5px aliceblue;
  border-radius: 5px;
  padding: 5px;
  background-color:aliceblue
}



.nyhedsbrev_index-btn input{
color: var(--clr--background);
background-color: var(--clr--logo);
border-radius: 8px;
border: none;
text-decoration: none;
display: inline-block;
text-align: center;
font-weight: var(--fw-reg);
width: 170px;
height: 30px;
}

.nyhedsbrev_afmeld a{
  text-align: center;
  color: #222;
  text-decoration: none;
  border: solid 0.5px aliceblue;
  border-radius: 5px;
  padding: 5px;
  background-color:aliceblue;
  float: right;
}

.nyhedsbrev_afmeld-out{
  margin-left: 25%;
  margin-top: 5%;
  padding: 5%;
  width: 50%;
  height: 300%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}
.nyhedsbrev_btn-afmeld{
  background-color: var(--clr--c2a);
  color: var(--clr--background);
  border-radius: 8px;
  padding: 1px;
  width: 15%;
  border: none;
}


.newsletter__title{
  color:aliceblue;

}

.nyhedsbrev_input input{
  height: 20px;
  width: 100px;
}

.nyhedsbrev_btn{
  cursor: pointer;
  right: 20px;
  top: 20px;
  width:100px;
  height: 30px;
  background: aliceblue;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;


}

/*START - TRUSTPILOT*/

.trustpilot_txt{
  margin-bottom: 2%;
}

.trustpilot_stjerner {
  display: block;
  width: 100%;
  height: 100% !important;
  display: flex;
  align-items: center;
  margin-left: 38%;
  margin-top: 9%;
}

.trustpilot{
  width: 50%;
}

.kontakt-call-to-action-2{
  display: flex;
  justify-content: center;
}
/* SLUT - STYLING AF FORSIDE */

/* START - NYHEDSBREV STYLE */
.nyhedsbrev_container{
  color:var(--clr--background);
  background-color: var(--clr--logo);
  text-align: center;
  height: 500px;
  width: 1150px;
  margin-left: 130px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}
/* SLUT - NYHEDSBREV STYLE */

/* START - HEADER SIGNUP */
.nav_bar-box{
  background-color: var(--clr--footer);
  font-size: 15px;
}
/* SLUT - HEADER SIGNUP */


/* START - LOGIND FUNKTIONE */
.register{
  display: block;
}
/* SLUT - LOGING FUNKTION


/* START - LOGIND */
.form_container #login_form .error-msg{
    margin:10px 0;
    display: block;
    background: var(--clr--logo);
    color: var(--clr--background);
    border-radius: 5px;
    font-size: 20px;
}

.container{
  width: 45%;
  height: 100%;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

.container input{
width: 130%;
}

/* SLUT - LOGIND */

/* START - USER PROFIL*/

.profil_container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profil_menu profil_menu profil_title profil_title profil_title profil_title profil_title profil_title profil_logud"
    "profil_menu profil_menu . . . profil_title_2 . . ."
    "profil_menu profil_menu . . . profil_billede . . ."
    "profil_menu profil_menu . . . profil_retbillede . . ."
    "profil_menu profil_menu . . profil_oplysninger profil_oplysninger profil_oplysninger . ."
    "profil_menu profil_menu . . profil_navn profil_navn profil_navn . ."
    "profil_menu profil_menu . . profil_adresse profil_adresse profil_adresse . ."
    "profil_menu profil_menu . . profil_telefon profil_telefon profil_telefon . ."
    "profil_menu profil_menu . . profil_mail profil_mail profil_mail . ."
    "profil_menu profil_menu . . . profil_opdater . . .";
}

.profil_menu { grid-area: profil_menu;
  background-color: #ea5a4a;
}

.profil_title { grid-area: profil_title;
  background-color: #ea224a; }

.profil_logud { grid-area: profil_logud;
  background-color: #893143;
}

.profil_title_2 { grid-area: profil_title_2; }

.profil_billede { grid-area: profil_billede;

}

.profil_retbillede { grid-area: profil_retbillede; }

.profil_oplysninger { grid-area: profil_oplysninger; }

.profil_navn { grid-area: profil_navn; }

.profil_adresse { grid-area: profil_adresse; }

.profil_telefon { grid-area: profil_telefon; }

.profil_mail { grid-area: profil_mail; }

.profil_opdater { grid-area: profil_opdater; }
/* SLUT -  USERPROFIL */



.profil_billede img{
  width: 100px;
  height: 100px;
}

/* START - BOOKINGS */
.bookings_container{
  margin-top: 7%;
  display: flex;
}

.kommende_container{
    margin-right: 10%;
    margin-left: 15%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
}

.tidligere_container{
  margin-right: 15%;
  margin-right: 10%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(136,129,129,0.75);

}
/* SLUT - BOOKINGS */

/* START style PHP menu bar*/
/* #dmenu{
  display: flex;
  width: 100%;
  background-color: black;

  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  margin-bottom: 1rem;
  top: 0;
  }

  #dmenu a{
  box-sizing: border-box;
  width:100%;
  padding: 10px;
  color: white !important;
  text-align: center;
  } */
  /* SLUT PHP menubar*/


  /*  START profil */
  .profil_navn{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: #222;
    padding: 3px;
  }
  .profil_adresse{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: #222;
    padding: 3px;
  }
  .profil_mail{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: #222;
    padding: 3px;
  }
  .profil_telefon{
    font-size: 18px;
    border-width: 1px;
    height: 24px;
    width: 200px;
    border-style: solid;
    border-color: #222;
    padding: 3px;
  }
  /* SLUT profil*/


  /* START - SIDEBAR */ 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
  }

  .title-h1{
    font-size: 3rem;
    padding: 2rem;
  }

  .sidebar{grid-area: a;}
  .home-section-farver{grid-area: b;}

  .sg{
  display: grid;
  grid-template-areas:
  'a b';
  grid-template-columns: 1fr 8fr;
  }

  .sidebar{
  position: relative;
  height: 100%;
  width: 78px;
  background: var(--clr--background) rgb(217, 247, 252);
  background: linear-gradient(0deg, rgba(107,146,153,0) 0%, rgb(174 184 181) 100%);
  padding: 6px 14px;
  z-index: 2;
  transition: all 0.5s ease;
  }

  .sidebar.open{
  width: 250px;
  }

  .sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  }

  .sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
  }

  .sidebar .logo-details .logo_name{
  color: var(--clr--background);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  }

  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
  opacity: 1;
  }

  .sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  }

  .sidebar.open .logo-details #btn{
  text-align: right;
  }

  .sidebar i{
  color: var(--clr--background);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  }

  .sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  }

  .sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
  }

  .sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--clr--background);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  }

  .sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
  }

  .sidebar.open li .tooltip{
  display: none;
  }

  .sidebar input{
  font-size: 15px;
  color: var(--clr--background);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--clr--txt);
  }

  .sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
  }

  .sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: var(--clr--background);
  }

  .sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: var(--clr--background);
  }
  .sidebar .bx-search:hover{
  background: var(--clr--background);
  color: var(--clr--txt); 
  }
  .sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--clr--logo); 
  }
  .sidebar li a:hover{
  background: var(--clr--background);
  }
  .sidebar li a .links_name{
  color: var(--clr--background);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  }
  .sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
  transition: all 0.5s ease;
  color: var(--clr--txt);
  }
  .sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  }

  @media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
    /* SLUT - SIDEBAR */ 


  /* SLUT - PROFILINFO */ 
  #profil_info{
    color: var(--clr--c2a);
    justify-content: center;
  }
   /* SLUT - PROFILINFO */ 

}
 
.alert{
  text-align: center;
}
