* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}
.container .content{
    text-align: center;
}

.container .content h1{
    font-size: 50px;
}

.container .content p{
    font-size: 25px;
    margin-bottom:20px;
}

.container .content .btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    margin:0 5px;
    background-color: blueviolet;
    color: white;
    text-transform: capitalize;
}
.container .content .btn:hover{
    background-color: crimson;
}


/* opret form*/

.form-div {
 margin: 50px auto 50px;
 padding: 25px 15px 10px 15px;
 border:1px soild #80ced7;
 border-radius: 5px;
 font-size: 1.1rem;
 

}

.form-control-focus{
    box-shadow: none;
}

form p{
    font-size: .89rem;
}


.form-div.login{
    margin: 100px;

}

.logout{
    color: red;
}





